<nav class="ui secondary pointing menu">
  <a href="/account" class="item">
    <i class="home icon"></i> Account
  </a>
  <a href="/photos" class="item">
    <i class="camera retro icon"></i> Photos
  </a>
  <div class="right menu">
    <a class="ui item">
      Login
    </a>
  </div>
</nav>