<div class="centered column">
  <h1 class="ui header">Hi, {{user.full_name}}!</h1>
  <div class="ui segment">
    <p>ID: {{user.id}}</p>
    <p>Username: {{user.username}}</p>
    <p>Name:{{user.full_name}}</p>
  </div>
</div>