<div class="ui centered column">
  <h2 class="ui header">Facebook Account Information</h2>

  <div class="ui segment">
    <div class="ui items">

      <div class="item">
        <!--<div class="ui tiny circular image">-->
          <!--<img src="{{user.profile_picture}}">-->
        <!--</div>-->
        <div class="content">
          <div class="header">{{user.name}}</div>
          <div class="description">
            <p>{{user.bio}}</p>
            <p><strong>User ID:</strong> {{user.id}}</p>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="ui divider"></div>

  <h2 class="ui header">Your Likes by Category</h2>
    <div class="ui center aligned segment">
      <p>Hover over a segment for more information</p>
      <canvas id="categoryChart" width="400" height="400"></canvas>
    </div>
</div>

