<div class="ui two column centered row">

  <div class="ui centered column">
    <div class="ui center aligned segment">
      <h1 class="ui header">Login</h1>

      <div class="ui divider"></div>

      <a href="/auth/instagram">
        <div class="ui instagram button">
          <i class="instagram icon"></i>
          Login with Instagram
        </div>
      </a>

      <a href="/auth/facebook">
        <div class="ui facebook button">
          <i class="facebook icon"></i>
          Login with Facebook
        </div>
      </a>
    </div>

  </div>

</div>