<div class="ui column">
  <div class="ui cards">
      {{#each photos}}
        <div class="card">
          <a class="image">
            <img src="{{url}}">
          </a>
          <div class="content">
            <div class="description">
                {{caption}}
            </div>
          </div>
        </div>
      {{/each}}
  </div>
</div>